<section class="inner-section bg-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="panel-login">
          <div class="panel-body">
            <img src="assets/images/GIS-logo.png" width="200" alt="GIS Logo" class="img-responsive center-block add-bottom">
            <div class="add-spacer"></div>
            <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group" [ngClass]="{
              'has-danger': employeeId.invalid && (employeeId.dirty || employeeId.touched),
              'has-success': employeeId.valid && (employeeId.dirty || employeeId.touched)
                }"><i class="ico-login ico-login-user"></i>
                  <!-- <label>Employee ID
                  <span class="danger">*</span>
                </label> -->
                  <input type="text" placeholder="Employee ID" class="form-control" formControlName="employeeId" required>
                  <div class="form-control-feedback" *ngIf="employeeId.errors && (employeeId.dirty || employeeId.touched)">
                    <small *ngIf="employeeId.errors.required">Employee Id is required</small>
                  </div>

                  <!--
              <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
              <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
            -->
                </div>
                <div class="form-group" [ngClass]="{
            'has-danger': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)
      }"><i class="ico-login ico-login-pwd"></i>
                  <!-- <label>Password
                  <span class="danger">*</span>
                </label> -->
                  <input type="password" placeholder="Password" class="form-control" formControlName="password" required>
                  <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                    <small *ngIf="password.errors.required">Password is required</small>
                  </div>

                  <!-- <pre>Valid? {{ myform.controls.email.valid }}</pre>
          <pre>Dirty? {{ myform.controls.email.dirty }}</pre> -->

                </div>
              <button type="submit" class="btn btn-lg btn-login btn-red btn-block text-uppercase">SIGN IN</button>
          </div>
          <p class="text-center"><a routerLink="/splash">Forgot Password?</a></p>
          <!-- <div class="col-xs-6">
            <div class="text-center">Forgot Password?</div>
          </div> -->

              <!-- <pre>{{myform.value | json}}</pre> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer></footer> -->
  <!-- <footer>
    <div class="container">
      <div class="row gutter-0">
        <div class="col-xs-6">Powered by -->
          <!-- <img src="assets/images/hgs-logo.png" width="80" alt="HGS Interactive"> -->
        <!-- </div>
        <div class="col-xs-6">
          <div class="copyright">&copy; 2018 HGS. All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer> -->
</section>
