<section class="inner-section bg-2 dashboard">

  <div class="row">
    <div class="container">
<div class="col-xs-4">
  <div class="text-center offer-box">
    <a routerLink="/leave-manager">
    <img src="assets/images/icons/icon-1.png" class="img-responsive center-block" alt="">
     <h5>Leave Manager</h5>
   </a>
    </div>
</div>
<div class="col-xs-4">
 <div class="text-center offer-box">
   <img src="assets/images/icons/icon-2.png" class="img-responsive center-block" alt="">
    <h5>Reimbursement</h5>
   </div>
  </div>
  <div class="col-xs-4">
   <div class="text-center offer-box">
     <img src="assets/images/icons/icon-3.png" class="img-responsive center-block" alt="">
    <h5>Recruitment</h5>
  </div>
 </div>
 <div class="col-xs-4">
  <div class="text-center offer-box">
    <img src="assets/images/icons/icon-4.png" class="img-responsive center-block" alt="">
   <h5>Travel</h5>
 </div>
</div>
<div class="col-xs-4">
 <div class="text-center offer-box">
   <img src="assets/images/icons/icon-5.png" class="img-responsive center-block" alt="">
  <h5>Directory</h5>
</div>
</div>
<div class="col-xs-4">
 <div class="text-center offer-box">
   <img src="assets/images/icons/icon-6.png" class="img-responsive center-block" alt="">
  <h5>News</h5>
</div>
</div>
<div class="col-xs-4">
 <div class="text-center offer-box">
   <img src="assets/images/icons/icon-7.png" class="img-responsive center-block" alt="">
  <h5>Alerts</h5>
</div>
</div>
<div class="col-xs-4">
 <div class="text-center offer-box">
   <img src="assets/images/icons/icon-8.png" class="img-responsive center-block" alt="">
  <h5>Employee Stats</h5>
</div>
</div>
<div class="col-xs-4">
 <div class="text-center offer-box">
   <img src="assets/images/icons/icon-9.png" class="img-responsive center-block" alt="">
  <h5>Holidays</h5>
</div>
</div>
</div>
</div>

  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="dash-box col-xs-4 btn-red">
          <span><h5>Leave Manager</h5></span>
        </div>
        <div class="dash-box col-xs-4 btn-red">
          <span><h5>Reimbursement</h5></span>
        </div>
        <div class="dash-box col-xs-4 btn-red">
          <span><h5>Reimbursement</h5></span>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <footer></footer> -->
</section>
