<section class="inner-section bg-2">
    <div class="container-fluid" id="leaveappr">
        <div class="">
              <ul class="list-group">
                  <a href="#">
                    <li class="list-group-item bluebtn">
                      <div class="col-xs-2 padd0">
                        <img src="assets/images/emp-pic-white.png" class="img-responsive" alt="">
                      </div>
                      <div class="col-xs-7 padd0">
                        <span class="empname">Anurag Sharma</span><br>
                        <span class="empid">Emp ID: <span class="text-color">57377</span> 
                          <span class="divider">l</span> 
                          # Leave : <span class="text-color">2D</span> 
                        </span>
                      </div>
                    </li>
                  </a>
                  <a href="#">
                    <li class="list-group-item bluebtn">
                      <div class="col-xs-2 padd0">
                        <img src="assets/images/emp-pic-white.png" class="img-responsive" alt="">
                      </div>
                      <div class="col-xs-7 padd0">
                        <span class="empname">Harshal Patel</span><br>
                        <span class="empid">Emp ID: <span class="text-color">57377</span> 
                          <span class="divider">l</span> 
                          # Leave : <span class="text-color">2D</span> 
                        </span>
                        </div>
                    </li>
                  </a>
                  <a href="#">
                      <li class="list-group-item bluebtn">
                        <div class="col-xs-2 padd0">
                          <img src="assets/images/emp-pic-white.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-xs-7 padd0">
                          <span class="empname">Sagar Kewat</span><br>
                          <span class="empid">Emp ID: <span class="text-color">57377</span> 
                            <span class="divider">l</span> 
                            # Leave : <span class="text-color">2D</span> 
                          </span>
                        </div>
                      </li>
                    </a>
                    <a href="#">
                        <li class="list-group-item bluebtn">
                          <div class="col-xs-2 padd0">
                            <img src="assets/images/emp-pic-white.png" class="img-responsive" alt="">
                          </div>
                          <div class="col-xs-7 padd0">
                            <span class="empname">Nikhil Anday</span><br>
                            <span class="empid">Emp ID: <span class="text-color">57377</span> 
                              <span class="divider">l</span> 
                              # Leave : <span class="text-color">2D</span> 
                            </span>
                            </div>
                        </li>
                      </a>
                      <a href="#">
                          <li class="list-group-item bluebtn">
                            <div class="col-xs-2 padd0">
                              <img src="assets/images/emp-pic-white.png" class="img-responsive" alt="">
                            </div>
                            <div class="col-xs-7 padd0">
                              <span class="empname">Rakesh Sharma</span><br>
                              <span class="empid">Emp ID: <span class="text-color">57377</span> 
                                <span class="divider">l</span> 
                                # Leave : <span class="text-color">2D</span> 
                              </span>
                              </div>
                          </li>
                        </a>
                  </ul>
          </div>
        </div>
  </section>
  