<section class="inner-section">
    <div class="container">
        <div class="card-grey text-blue add-bottom">
            <label class="control-label">Leave Type :</label>
            <div class="list-radio-group">
                <ul class="list-radio">
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>Casual Leave (CL)</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>Privilege Leave (PL)</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>Sick Leave (SL)</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>StatOFF</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>CompOFF</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-grey text-blue add-bottom form-main form-inline-xs clearfix">
            <label class="control-label pull-left">From Date</label>
            <select class="form-control pull-right">
                <option>17/02/2018</option>
            </select>
        </div>
        <div class="card-grey text-blue add-bottom">
            <div class="list-radio-group">
                <ul class="list-radio">
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>First Session</label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pretty p-default p-round p-blue">
                            <input type="radio" name="radio1">
                            <div class="state">
                                <label>Second Session</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-grey text-blue add-bottom form-main form-inline-xs clearfix">
            <label class="control-label pull-left">To Date</label>            
            <select class="form-control pull-right">
                <option>17/02/2018</option>
            </select>        
        </div>
        <div class="card-grey text-blue add-bottom form-main">
            <label class="control-label">Reasons</label>
            <textarea class="form-control" rows="1"></textarea>
        </div>
        <button class="btn btn-default btn-block btn-red text-uppercase">Apply Now</button>
    </div>
</section>