<section class="inner-section leave-manager">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <!-- <button class="btn btn-lg btn-login btn-red btn-block" type="submit">Apply Leave</button>
          <button class="btn btn-lg btn-login btn-block" type="submit">Holiday Calendar</button>
          <button class="btn btn-lg btn-login btn-block" type="submit">Leave Application Approval</button>
          <button class="btn btn-lg btn-login btn-block" type="submit">Leave Application Status</button>
          <button class="btn btn-lg btn-login btn-block" type="submit">Trend</button> -->
          <a class="btn btn-lg btn-login btn-block" href="#">Apply Leave</a>
          <a class="btn btn-lg btn-login btn-block" href="#">Holiday Calendar</a>
          <a class="btn btn-lg btn-login btn-block" routerLink="/leave-application-approval">Leave Application Approval</a>
          <a class="btn btn-lg btn-login btn-block" href="#">Leave Application Status</a>
          <a class="btn btn-lg btn-login btn-block" href="#">Trend</a>
        </div>
      </div>
    </div>  
</section>
