
.leave-manager .btn{
    margin-top: 20px !important;
    border: #e6e6e6 solid 1px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 16px;
    position: relative;
    color: #2f416c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: left;
    padding-left: 20%;
}
.leave-manager .btn:first-child{
  margin-top: 0 !important;
  border: none;
  background-color: #df3a27;
  color: #fff;
  background: #df3a27 url('../../assets/images/icons/leave-manager-01.png') no-repeat 7% 48%;
  background-size: 6%;
}
.leave-manager .btn:nth-child(2){
  background: #fff url('../../assets/images/icons/leave-manager-02.png') no-repeat 7% 48%;
  background-size: 7%;
}
.leave-manager .btn:nth-child(3){
  background: #fff url('../../assets/images/icons/leave-manager-04.png') no-repeat 7% 48%;
  background-size: 7%;
}
.leave-manager .btn:nth-child(4){
  background: #fff url('../../assets/images/icons/leave-manager-05.png') no-repeat 7% 48%;
  background-size: 7%;
}
.leave-manager .btn:nth-child(5){
  background: #fff url('../../assets/images/icons/leave-manager-06.png') no-repeat 7% 48%;
  background-size: 7%;
}
.leave-manager .btn::after{
  content: "> ";
  position: absolute;
  right: 8%;
  top: 20%;
  font-size: 3rem;
  color: #e6e6e6;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}
.leave-manager .btn:first-child::after{
  color: #e69595;
  /* color: #e69595; */
}
