<section class="inner-section splash-bg">
  <img src="assets/images/GIS-logo.png" width="200" alt="GIS Logo" class="img-responsive center-block add-bottom logo">
<p class="text-center"><a routerLink="/dashboard"><button type="button" name="button">Dashboard</button></a></p>
  <!-- <footer>
    <div class="container">
      <p class="text-center">&copy; 2017 teamhgs.com. All rights reserved.</p>
    </div>
  </footer> -->
</section>
