/* Global Styles */
/*@-ms-viewport{width:auto!important}*/
html{-ms-overflow-style:scrollbar;}
body{font-family: 'Roboto Condensed', sans-serif; font-weight:400; font-size:1.4rem; color:#333;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{line-height:normal;}
p{line-height:1.5; margin-bottom:20px}
ul li, ol li{line-height:1.5;}
a{color:#fc9b2a; text-decoration:none; transition:all .5s;}
a:hover{color:#f1800c; text-decoration:none}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s; -webkit-text-fill-color:#fff !important;}
hr{border-color:#eaeaea}

/* Common Styles */
.bg-2{background:#0c1721 url('../images/page-bg.jpg') no-repeat center center; background-size:cover;
/* min-height:100vh;  */
min-height:91vh;
position:relative}
.splash-bg{background:#0c1721 url('../images/splash-bg.jpg') no-repeat center center; background-size:cover; min-height:100vh; position:relative}

.text-white{color:#fff !important;}
.text-red{color:#de4800 !important;}
.text-blue{color:#2f416c !important}
.text-lightblue{color:#b5cbff !important}
.text-navyblue{color:#081e4d !important;}
.text-yellow{color:#f1b535 !important;}
.text-green{color:#9bcb3f !important;}
.text-grey{color:#666666 !important;}
.thick-border{border-width:2px !important}
.border-grey{border-color:#c2c2c2 !important}
.border-lightbrown{border-color:#d3bc9d !important}
.border-yellow{border-color:#f1b535 !important}
.remove-bottom{margin-bottom:0 !important}
.half-bottom{margin-bottom:5px !important}
.add-bottom{margin-bottom:15px !important}
.half-top{margin-top:10px !important}
.half-spacer{height:15px; width:100%; font-size:0; display:block;}
.add-spacer{height:30px; width:100%; font-size:0; display:block;}
.long-text{word-wrap:break-word;}
.text-bold{font-weight:700}

.display-1{font-size:2.4rem;}
.display-2{font-size:2.2rem;}
.display-3{font-size:2rem;}
.display-4{font-size:1.8rem;}
.display-5{font-size:1.6rem;}
.display-6{font-size:1.2rem;}

hr.hr-darker{border-color:#ccc}

.padd0{padding-left:0px; padding-right:0px;}

.horizontal-line-text{font-size:12px; text-align:center; position:relative; z-index:2}
.horizontal-line-text:after{content:''; position:absolute; top:50%; left:0; right:0; border-top:1px solid #c7c7c7; z-index:-1;}
.horizontal-line-text .line-center{margin:0; padding:0 10px; background:#fff; display:inline-block;}

.gutter-0.row{margin-right:0; margin-left:0;}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{padding-right:0; padding-left:0;}

.gutter-10.row{margin-right:-5px; margin-left:-5px;}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"]{padding-right:5px; padding-left:5px;}

.img-border{border:1px solid transparent;}

.inner-section{padding-top:20px; padding-bottom:20px}

.btn-default{background:none; border-color:#aeaeae; border-radius:8px; padding:10px 12px; font-size:1.6rem;}
.btn-login{
  /* border-radius:40px;  */
  /* font-weight:700;  */
      font-size: 14px;
  /* padding:12px; */
}
  ::-webkit-input-placeholder {
   text-transform: capitalize !important;
}

:-moz-placeholder {
   text-transform: capitalize !important;
}

::-moz-placeholder {
   text-transform: capitalize !important;
}

:-ms-input-placeholder {
   text-transform: capitalize !important;
}
.btn-blue{border-color:#005da4; color:#fff; background-color:#005da4;}
.btn-blue:hover{background:#72044b; color:#fff; border-color:#72044b}
.btn-darkblue{background:#2f416c; color:#fff;}
.btn-green{color:#fff; background-color:#7fba13;}
.btn-green:hover{background:#6ea607; color:#fff}
.btn-red{border-color:#df3a27; color:#fff; background-color:#df3a27; }
.btn-purple{color:#fff; background-color:#6077be;}

.btn.btn-100{min-width:100px;}
.btn.btn-120{min-width:120px;}
.btn.btn-160{min-width:160px;}

.btn-group.btn-group-default .btn{margin-left:15px; border-radius:8px !important;}
.btn-group.btn-group-default .btn:first-child{margin-left:0}

.btn-trend:before{content:''; display:inline-block; background:url(../images/icons/ico-trend.png); height:24px; width:24px; vertical-align:middle; margin:-4px 10px 0 0;}
.btn-trend:after{content:'\e250'; display:inline-block; font-family:'Glyphicons Halflings'; font-size:10px; line-height:1; margin-left:10px;}

.link-blue{color:#337ab7; text-decoration:underline}

.list-detail{list-style:none; margin:0; padding:0}
.list-detail li{border-bottom:1px solid #e8e8e8; margin-bottom:10px; padding-bottom:10px;}

.form-text{display:block; margin-top:.25rem;}

.form-default .form-group{margin-bottom:25px}
.form-default .form-group .form-control{border-color:#f1ceb2; outline:none; box-shadow:none; height:40px}
.form-default .form-group .form-control:focus{border-color:#de4800}
.form-default .form-group .control-label{font-weight:400; text-transform:uppercase}

.form-vertical-list .control-label{font-weight:400}
.form-vertical-list .form-control-static{font-weight:700; padding:0; min-height:auto}

.form-main select.form-control{border:none; background:none; box-shadow:none;}
.form-main textarea.form-control{border:none; border-bottom:1px solid #e8e8e8; background:none; border-radius:0; box-shadow:none; padding-left:0; padding-right:0}

.form-inline-xs .form-control{display:inline-block; width:auto; vertical-align:middle;}
.form-inline-xs select.form-control{padding-top:0; padding-bottom:0; height:auto}
.form-inline-xs label{margin:0}

.table.table-default th{background:#daedfb; padding-top:12px; padding-bottom:12px; font-size:1.4rem; font-weight:700; color:#4e4e4e}
.table.table-default th, .table.table-default td{vertical-align:middle; border-color:#dbdcdb}
.table.table-default td{padding-top:6px; padding-bottom:6px;}
.table.table-default th:first-child{border-top-left-radius:5px !important;}
.table.table-default th:last-child{border-top-right-radius:5px !important;}
.table.table-default.table-default-flat th:first-child{border-top-left-radius:0 !important;}
.table.table-default.table-default-flat th:last-child{border-top-right-radius:0 !important;}
.table.table-default.table-default-border{border-bottom:1px solid #ddd}

.card-grey{background:#f6f6f6; padding:15px; border-radius:10px}

header{background:#f8f8f8;}

.navbar{margin:0}
.navbar-toggle{display:block;}
.navbar-toggle .icon-bar{background:#aaa; height:3px;}

.navbar-brand{padding:5px 0; position:absolute; left:50%; margin-left:-40px;}

footer{color:#fff; font-size:10px;
  /* position:absolute;  */
  bottom:0; left:0; right:0;}

  footer.footer-absolute{position:absolute;}
  footer .container{position: relative;}

footer{margin-top: 3vh;}
footer .container{position: relative !important;}
footer p{
    position: absolute;
    width: 100%;
    top: -25px;
    margin: 0;
}
footer .footer-btm-sec{padding:10px 0}
footer .footer-text.horizontal-line-text:after{border-color:#dbddde;}
footer .copyright{text-align:right; font-size:10px; margin-top:6px;}

/* .dashboard footer{bottom: 2px;} */

.panel-login{border-radius:3px; min-height:20px; padding:15px;}
.panel-login > .panel-body{padding:20px 40px;}
.panel-login .form-group{
  /* margin-bottom:40px;  */
  margin-bottom:25px;
  position:relative}
.panel-login .form-group .form-control{border:0; border-radius:10px; background: #253258; box-shadow:none !important; font-size:16px; font-weight:300; color:#fff;
  /* padding:22px 0 22px 40px; */
  padding:22px 0 22px 50px;
}
.panel-login .form-group .form-control:focus{border-color:#7293e0}
.panel-login ::-webkit-input-placeholder{color:#fff !important; text-transform:capitalize; font-size: 12px;}
.panel-login :-moz-placeholder{color:#fff !important; text-transform:capitalize; font-size: 12px;}
.panel-login ::-moz-placeholder{color:#fff !important; text-transform:capitalize; font-size: 12px;}
.panel-login :-ms-input-placeholder{color:#fff !important; text-transform:capitalize; font-size: 12px;}
.panel-login .form-group label{color:#7293e0; padding-left:40px; font-weight:400; text-transform:uppercase}
.panel-login .pretty .state label{text-indent:2em;}
.panel-login .pretty .state label:before{border-color:#8ac120;}
.panel-login .pretty input:checked~.state label:after,
.panel-login .pretty.p-toggle .state label:after{background:#8ac120;}
.panel-login .pretty input:checked~.state .icon{color:#fff}
.panel-login hr{border-color:#365191;}

.ico-login{width:30px; height:30px; background-repeat:no-repeat; content:''; display:block; position:absolute; top: 7px;
    left: 6px;}
.ico-login.ico-login-user{background-image:url(../images/user-icon.jpg);
  /* background-size: contain; */
  background-size: 80%;
  left: 17px;
}
.ico-login.ico-login-pwd{background-image:url(../images/lock-icon.jpg);
  /* background-size: contain; */
  background-size: 70%;
  left: 18px;
}
.panel-login p{margin-top: 3.2rem;}
.panel-login p a{color: #fff; font-size: 12px; font-weight: 300;}

.main-title{background:#8ac120; font-size:1.6rem; text-align:center; padding:10px 15px; color:#fff; margin:0px; font-weight:600; text-transform:uppercase}
.sub-title{background:#ebfec8; padding:10px 15px; color:#5a5b5b; border-bottom:2px solid #f0f0f0;}
.inner-title{background:#fcebe9; padding:10px 15px; color:#5a5b5b;}

.sidenav{height:100%; width:0; position:fixed; z-index:2; top:0; left:0; background-color:rgb(46,46,44); overflow-x:hidden; transition:0.5s;}
.sidenav .sidenav-head{position:relative; background:#000; min-height:56px; padding:0 15px}
.sidenav .sidenav-head .sidenav-title{font-size:15px; display:inline-block; color:#fff; padding-left:20px; vertical-align:middle}
.sidenav .sidenav-head .closebtn{font-size:40px; color:#fff; font-weight:300; display:inline-block; vertical-align:middle}
.sidenav ul{margin:0; padding:0; width:100%; overflow:hidden}
.sidenav .sidenav-item{position:relative; list-style:none; border-bottom:1px solid #afafaf; min-height:60px;}
.sidenav .sidenav-item a{padding:19px 19px 19px 59px; text-decoration:none; color:#fff; display:block; transition:0.3s;}
.sidenav .sidenav-item a:hover{color:#f1f1f1;}
.sidenav .sidenav-item:before{display:block; width:30px; height:30px; content:''; position:absolute; margin:15px 0 0 15px; top:0; left:0;}
/*.sidenav .sidenav-item.dashboard:before{background-image:url(../images/menu-icons/dash.png);}
.sidenav .sidenav-item.calendar:before{background-image:url(../images/menu-icons/calendar.png);}
.sidenav .sidenav-item.nomination:before{background-image:url(../images/menu-icons/nomination.png);}
.sidenav .sidenav-item.assessment:before{background-image:url(../images/menu-icons/assessment.png);}
.sidenav .sidenav-item.feedback:before{background-image:url(../images/menu-icons/feedback.png);}
.sidenav .sidenav-item.about:before{background-image:url(../images/menu-icons/about.png);}
.sidenav .sidenav-item.contact:before{background-image:url(../images/menu-icons/contact.png);}
.sidenav .sidenav-item.logout:before{background-image:url(../images/menu-icons/logout.png);}*/

ol{padding-left:15px;}
ol > li{padding-bottom:15px;}

.list-primary .list-group-item{border-left:0; border-right:0; padding-left:70px}
.list-primary .list-group-item:first-child{border-top:0}
.list-primary .list-group-item.item-ico:before{position:absolute; display:block; width:40px; height:40px; content:''; top:20px; left:15px;}
/*.list-primary .list-group-item.item-ico.email:before{background-image:url(../images/contact-mail.png);}
.list-primary .list-group-item.item-ico.phone:before{background-image:url(../images/contact-phone.png);}*/
.list-primary .list-group-item h4{font-weight:700; font-size:1.6rem; margin-bottom:0}
.list-primary .list-group-item a{color:#333}

.accordion-panel{margin-bottom:10px; clear:both;}
.accordion-panel .accordion-title{position:relative; cursor:pointer; font-weight:700; font-size:1.4rem; line-height:1.5; padding:10px 30px 10px 15px; margin:0; background:#e7e8e8}
.accordion-panel .accordion-title:after{display:block; position:absolute; top:0; right:15px; width:20px; height:40px; line-height:1.3; font-size:3rem; text-align:center; content:'+'; font-weight:700;}
.accordion-panel .accordion-title.active{background:#1abcc7; color:#fff}
.accordion-panel .accordion-title.active:after{content:'-';}
.accordion-panel .accordion-content{display:none; padding:10px 15px; background:#e8f8f9}

.list-alpha li{border-bottom:1px solid #ccd9d9; padding-top:10px; padding-bottom:10px}
.list-alpha li:last-child{border:0}

.app-ico{position:relative; padding-left:50px; display:block}
.app-ico:before{display:block; width:40px; height:40px; content:''; position:absolute; margin:0; top:0; left:0;}
/*.app-ico.ico-date:before{background-image:url(../images/icons/pre-assessment_11.png);}
.app-ico.ico-time:before{background-image:url(../images/icons/pre-assessment_14.png);}*/

.media-list{display:table; width:100%}
.media-list .media-body{display:table-cell; vertical-align:middle}

.list-data{list-style:none; margin:0; padding:0;}
.list-data li{padding:5px 15px 5px 65px; position:relative; border-bottom:1px solid #bdbdbd; min-height:50px;}
.list-data li:before{display:block; width:40px; height:40px; content:''; position:absolute; top:50%; left:0; margin-top:-20px; margin-left:15px;}
/*.list-data li.ico-target:before{background-image:url(../images/icons/pre-assessment_6.png);}
.list-data li.ico-nominate:before{background-image:url(../images/icons/pre-assessment_7.png);}
.list-data li.ico-venue:before{background-image:url(../images/icons/pre-assessment_5.png);}
.list-data li.ico-workshop:before{background-image:url(../images/icons/pre-assessment_07.png);}
.list-data li.ico-date:before{background-image:url(../images/icons/pre-assessment_11.png);}
.list-data li.ico-time:before{background-image:url(../images/icons/pre-assessment_14.png);}*/
.list-data li div[class^="row"]{display:table; width:100%; margin:0; min-height:50px;}
.list-data li div[class^="col-"]{display:table-cell; vertical-align:middle; float:none; padding:0}

.list-data.list-data-second li{padding:5px 0 5px 50px;}
.list-data.list-data-second li:before{margin-left:0;}
.list-data.list-data-second li:last-child{border:0}

.card-paramter{margin-bottom:5px;}
.card-paramter .card-header{background:#1abcc7; padding:10px 16px;}
.card-paramter .card-header .card-title{color:#fff; font-weight:500; font-size:1.4rem; margin:0;}
.card-paramter .card-content{background:#e8f8f9; padding:10px 16px;}

.list-radio-group .list-radio{list-style:none; margin:0; padding:0;}
.list-radio-group .list-radio li{overflow:hidden; width:100%; padding:10px 0; border-bottom:1px solid #e8e8e8}
.list-radio-group .list-radio li:last-child{border:0}
.list-radio-group .list-radio li label{width:100%}
.list-radio-group .list-radio li .pretty{width:100%}
.list-radio-group .list-radio li .pretty .state label{text-indent:0}
.list-radio-group .list-radio li .pretty .state label:after,
.list-radio-group .list-radio li .pretty .state label:before{right:0; left:auto}

.footer-toolbar{display:table; width:100%; background:#2e2e2c; list-style:none; margin:0; padding:0}
.footer-toolbar li{display:table-cell; text-align:center; border-right:1px solid #828280; padding:5px}
.footer-toolbar li:last-child{border:0}

.footer-wrapper{position:fixed; bottom:0; left:0; right:0; height:40px}
.footer-spacer{height:40px}

.list-default{padding-left:20px;}

.bx-question {
  background: #458dca;
  color: #fff;
  padding: 10px 16px;
}

.congratulation-container {
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  text-align: center;
}

.congratulation-container > h2 {
  font-size: 26px;
  color: #5a5b5b;
  text-transform: uppercase;
}

.pretty.p-questions{margin-right:0}
.pretty.p-questions .state label:before{border-color:#458dca;}
.pretty.p-questions input:checked~.state label:after, .pretty.p-questions.p-toggle .state label:after{background:#458dca;}
.pretty.p-questions input:checked~.state .icon{color:#fff}

.pretty.p-orange input:checked~.state label:after{background:#f08508 !important}
.pretty.p-blue input:checked~.state label:after{background-color:#48c9f5 !important}

.progress-bar{background:#f89420;}

.chart{position:relative; width:100px; margin:0 auto}
.chart easy-pie-chart{display:block; margin-bottom:10px}
.chart canvas{position:absolute; top:0; left:0;}
.chart .percent, .chart .label{text-align:center; color:#333;}
.chart .percent{font-size:3.2rem; font-weight:300; line-height:100px; display:block}
.chart .label{font-size:1.6rem; font-weight:500; text-transform:uppercase; letter-spacing:1px;}
.chart.chart-lg{width:200px;}
.chart.chart-lg .percent{font-size:4.8rem; line-height:200px;}

.smash-scroll{overflow-x:hidden; overflow-y:auto; height:190px;}

.form-control-feedback{position:relative; width:auto; color:#fff; margin-top:.25rem;}

/* Calendar */
.calendar-header {
  background: #1abcc7;
  color: #fff;
  border-top: 2px solid #7ecfd4;
  border-bottom: 1px solid #8ddee3;
  padding: 0 15px;
}

.calendar-header button {
  color: #fff;
  font-size: 3rem;
  background: none;
  border: 0;

}

.calendar-header h2{ font-size: 1.8rem; margin:10px 0}

.cal-month-view {
  background: #fafcf9;
  border-bottom: 2px solid #edeeed;
}
.cal-month-view .cal-cell-top {
  min-height: auto !important;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 0 !important;
  float: none !important;
  display: inline-block;
  min-height: 50px;
  min-width: 50px;
  padding-top: 14px;
  color: #4e4e4e;
  border-radius: 50%;
}
.cal-month-view .cal-day-cell {
  min-height: 49px !important;
}
.cal-month-view .cal-days {
  padding-top: 5px;
}
.cal-month-view .cal-events {
  margin: 0 !important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em !important;
  color: #fff !important;
  background-color: #1abcc7 !important;
}

@media (min-width: 300px) and (max-width: 340px) {
  .cal-month-view .cal-events {
    bottom: 11% !important;
  }
  .cal-month-view .cal-day-cell {
    min-height: 37px !important;
    height: auto;
    max-height: 42px;
  }
  .cal-month-view .cal-day-number {
    margin-top: 8px !important;
  }
}
@media (min-width: 360px) {
  .cal-month-view .cal-day-cell {
    min-height: 46px !important;
  }
}
@media (min-width: 380px) {
  .cal-month-view .cal-day-cell {
    min-height: 54px !important;
  }
}
@media (min-width: 360px) and (max-width: 650px) and (orientation: landscape) {
  .cal-month-view .cal-day-cell {
    min-height: 84px !important;
    max-width: 94px;
    padding: 5px 0;
  }
  .cal-month-view .cal-day-number {
    font-size: 1.5em !important;
    margin-bottom: 10px;
    margin-top: 25% !important;
  }
  .cal-month-view .cal-events {
    bottom: 30% !important;
  }
}
@media (min-width: 412px) and (max-width: 440px) and (orientation: landscape) {
  .cal-month-view .cal-day-cell {
    min-height: 88px !important;
    max-width: 94px;
    padding: 5px 0;
  }
  .cal-month-view .cal-day-number {
    font-size: 1.5em !important;
    margin-bottom: 10px;
    margin-top: 25% !important;
  }
  .cal-month-view .cal-events {
    bottom: 30% !important;
  }
}
mwl-calendar-month-view-header .cal-month-view .cal-header .cal-cell {
  width: 2ch;
  overflow: hidden;
  white-space: nowrap;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: pointer;
  position: relative;
}
.cal-month-view .cal-events {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: -1%;
  display: initial !important;
}
.cal-month-view .cal-day-badge {
  display: none !important;
}
.cal-month-view .cal-header {
  text-align: center;
  color: #1d1d26;
}
.cal-month-view .cal-cell-row:hover {
  background-color: #fafafa;
}
.cal-month-view .cal-header .cal-cell {
  padding: 5px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
.cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #ededed;
}
.cal-month-view .cal-days {
  border: 1px solid #e1e1e1;
  border-bottom: 0;
}
.cal-month-view .cal-cell-top {
  min-height: 78px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cal-month-view .cal-cell-row {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.cal-month-view .cal-cell {
  float: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cal-month-view .cal-day-cell {
  min-height: 100px;
}
.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}
.cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid #e1e1e1;
}
.cal-month-view .cal-day-badge {
  margin-top: 18px;
  margin-left: 10px;
  background-color: #b94a48;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
.cal-month-view .cal-day-number {
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 15px;
  float: right;
}
.cal-month-view .cal-events {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 3px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cal-month-view .cal-event {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
  cursor: pointer;
}
.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.3;
  cursor: default;
}
.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: darkred;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.9em;
}
.cal-month-view .cal-day-cell.cal-drag-over {
  background-color: #e0e0e0 !important;
}
.cal-month-view .cal-open-day-events {
  padding: 15px;
  color: white;
  background-color: #555;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.cal-month-view .cal-open-day-events .cal-event {
  position: relative;
  top: 2px;
}
.cal-month-view .cal-event-title {
  color: white;
}
.cal-month-view .cal-out-month .cal-day-badge, .cal-month-view .cal-out-month .cal-event {
  opacity: 0.3;
}

.cal-week-view .cal-day-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-bottom: 3px;
  border: 1px solid #e1e1e1;
  margin-left: 2px;
  margin-right: 2px;
}
.cal-week-view .cal-day-headers .cal-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 5px;
}
.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}
.cal-week-view .cal-day-headers .cal-header:hover {
  background-color: #ededed;
}
.cal-week-view .cal-day-headers .cal-drag-over {
  background-color: #ededed;
}
.cal-week-view .cal-day-headers span {
  font-weight: 400;
  opacity: 0.5;
}
.cal-week-view .cal-events-row {
  position: relative;
  height: 33px;
}
.cal-week-view .cal-event-container {
  display: inline-block;
  position: absolute;
}
.cal-week-view .cal-event {
  padding: 0 10px;
  font-size: 12px;
  margin-left: 2px;
  margin-right: 2px;
  height: 30px;
  line-height: 30px;
}
.cal-week-view .cal-draggable {
  cursor: move;
}
.cal-week-view .cal-starts-within-week .cal-event {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cal-week-view .cal-ends-within-week .cal-event {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cal-week-view .cal-header.cal-today {
  background-color: #e8fde7;
}
.cal-week-view .cal-header.cal-weekend span {
  color: #8b0000;
}
.cal-week-view .cal-event, .cal-week-view .cal-header {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-day-view .cal-hour-rows {
  width: 100%;
  border: solid 1px #e1e1e1;
  overflow-x: scroll;
  position: relative;
}
.cal-day-view .cal-hour:nth-child(odd) {
  background-color: #fafafa;
}
.cal-day-view mwl-calendar-day-view-hour-segment {
  -ms-touch-action: initial !important;
  touch-action: initial !important;
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important;
  -webkit-user-drag: initial !important;
  display: block;
}
.cal-day-view .cal-hour-segment {
  display: block;
}
.cal-day-view .cal-hour-segment::after {
  content: '\A0';
}
.cal-day-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-day-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom: thin dashed #e1e1e1;
}
.cal-day-view .cal-time {
  font-weight: bold;
  padding-top: 5px;
  width: 70px;
  text-align: center;
}
.cal-day-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: none;
}
.cal-day-view .cal-hour-segment:hover {
  background-color: #ededed;
}
.cal-day-view .cal-drag-over .cal-hour-segment {
  background-color: #ededed;
}
.cal-day-view .cal-event-container {
  position: absolute;
}
.cal-day-view .cal-event {
  border: solid 1px;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cal-day-view .cal-draggable {
  cursor: move;
}
.cal-day-view .cal-starts-within-day .cal-event {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cal-day-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cal-day-view .cal-all-day-event {
  padding: 8px;
  border: solid 1px;
}

.cal-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 11px;
  word-wrap: break-word;
  opacity: 0.9;
}
.cal-tooltip.cal-tooltip-top {
  padding: 5px 0;
  margin-top: -3px;
}
.cal-tooltip.cal-tooltip-top .cal-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.cal-tooltip.cal-tooltip-right {
  padding: 0 5px;
  margin-left: 3px;
}
.cal-tooltip.cal-tooltip-right .cal-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.cal-tooltip.cal-tooltip-bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.cal-tooltip.cal-tooltip-bottom .cal-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.cal-tooltip.cal-tooltip-left {
  padding: 0 5px;
  margin-left: -3px;
}
.cal-tooltip.cal-tooltip-left .cal-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.cal-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.cal-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.cal-month-view .cal-out-month .cal-event {
  opacity: 0 !important;
  display: none;
}
.cal-month-view .cal-days, .cal-month-view .cal-day-cell:not(:last-child), .cal-month-view .cal-days .cal-cell-row {
  border: 0 !important;
}
.cal-month-view .cal-event {
  width: 7px !important;
  height: 7px !important;
}

.cal-header {
  background: #39bcc7;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px;
  border-bottom: 2px solid #edeeed;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: inherit;
}

.cal-month-view .cal-day-cell.cal-out-month.cal-today {
  background-color: rgba(57, 188, 199, 0.08) !important;
  color: #9E9E9E;
}
.cal-month-view .cal-day-cell.cal-out-month.cal-today .cal-day-number {
  color: #795548;
}


/* New style */
#sidenav-outer{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
  display: none;
}

.splash-bg .logo{ margin-top: 20vh;}
.splash-bg footer .container{
    position: absolute;
    bottom: 4vh;
    width: 100%;
    color: #8487a7;
  }
  footer .container{
      position: absolute;
      bottom: 0vh;
      width: 100%;
      color: #8487a7;
    }
header{ background: #2f416c !important; color: #fff;}
h4{
    font-weight: 300;
    /* position: relative;
    left: -5vw; */
    position: absolute;
    left: 2%;
    width: 100%;
    /* display: none; */
}
.navbar-brand{
  margin-left: -20vw;
    /* padding-top: 3.5%; */
    padding-top: 2.5vh;
    position: static;
    float: none;
}
.navbar-brand a{color: #fff; font-weight: 100;
  /* font-family: 'Roboto', sans-serif;  */
  margin-left: -50px; letter-spacing: .5px;}
.sidenav .sidenav-item a{
    padding-left: 20px;
}
.navbar-toggle .icon-bar { background: #ffffff;}
.dash-box {
  border-radius: 10px;
  text-align:center;
  height: 20vh;
  margin: 0 10px;
}
body{
  overflow-x: hidden;
  width: 100vw;
}


.offer-box {
background: #f4e759;
/* height: 300px; */
/* min-height: 20vh; */
/* min-height: 17vh; */
height: 16vh;
border-radius: 10px;
color: #fff;
padding-top: 20%;
padding-bottom: 5px;
}

.offer-box h1 {
color: #080808;
}

.offer-box p {
color: #080808;
font-size: 1.2em;
}
.dashboard{
/* padding: 10px 0 10px; */
padding: 10px 10px 20px;
padding-top: 8vh;
min-height: 90vh;
}
/* .dashboard .col-xs-4:nth-child(1), .dashboard .col-xs-4:nth-child(4), .dashboard .col-xs-4:nth-child(7)
{
padding-left: 0;
}
.dashboard .col-xs-4:nth-child(3), .dashboard .col-xs-4:nth-child(6), .dashboard .col-xs-4:nth-child(9)
{
padding-right: 0;
} */
.dashboard .col-xs-4:nth-child(1) .offer-box{background: #ff4343;}
.dashboard .col-xs-4:nth-child(2) .offer-box{background: #2393ee;}
.dashboard .col-xs-4:nth-child(3) .offer-box{background: #f49533;}
.dashboard .col-xs-4:nth-child(4) .offer-box{background: #85b524;}
.dashboard .col-xs-4:nth-child(5) .offer-box{background: #27acba;}
.dashboard .col-xs-4:nth-child(6) .offer-box{background: #bca92a; padding-top: 22%;}
.dashboard .col-xs-4:nth-child(7) .offer-box{background: #be208b;}
.dashboard .col-xs-4:nth-child(8) .offer-box{background: #6667df;}
.dashboard .col-xs-4:nth-child(9) .offer-box{background: #2288dd;}
.dashboard .col-xs-4 {
  padding: 10px;
}
.dashboard .col-xs-4 img{width: 35%;}
.dashboard .col-xs-4:nth-child(3) img{ width: 31%;}
.dashboard .col-xs-4:nth-child(8) img{ margin-bottom: 16%;}
.dashboard .col-xs-4:nth-child(9) img{ width: 28%; margin-bottom: 14%;}
.dashboard .col-xs-4 a{color: #fff;}

@media (max-width: 410px) {
  .dashboard .col-xs-4{max-height: 20vh;}
  /* .offer-box{    min-height: 17vh;} */
  .offer-box{
    /* min-height: 15.5vh; */
  height: 15vh;
}
  .dashboard{
    padding-top: 8vh;
    min-height: 91.5vh;
  }
}
@media (min-width: 411px) {
  .dashboard{
    /* min-height: 92vh; */
    min-height: 91.7vh;
  }
}

/*Leave Application Approval*/
#leaveappr .list-group-item {
  position: relative;
  display: block;
  padding: 18px 0px 50px 24px;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  color: #2f416c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.15;
}
#leaveappr .divider{padding: 0px 5px;}
#leaveappr .empid {font-size: 13px;}
#leaveappr .marleft15{margin-left: 15px;}
#leaveappr .martp{margin-top: 5px;}

.calendar-head{
  border-radius: 0px;
  background: #253258;
  color: #fff;
  margin-bottom: 0px;
  border-top: 2px solid #fff;
  padding-left: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: block;
  padding: 12px 24px 30px 24px;
}
.calendar-head .panel-heading{
  padding: 0px;
}
.pending-head{
  border-radius: 0px;
  color: #f49533;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 0px;
  font-size: 18px;
  display: block;
  padding-bottom: 0.5vh;
  box-shadow: none;
  font-family: 'Roboto';
  font-weight: bold;

}
.pending-head .circle-orange{
  height: 20px;
  width: 20px;
  background-color: #f49533;
  border-radius: 50%;
  display: block;
  float: left;
  margin-left: 15px;
  margin-right: 35px;
}
.pending-head .circle-red{
  height: 20px;
  width: 20px;
  background-color: #ff4343;
  border-radius: 50%;
  display: block;
  float: left;
  margin-left: 15px;
  margin-right: 35px;
}
.pending-head .circle-green{
  height: 20px;
  width: 20px;
  background-color: #85b524;
  color: #85b524;
  border-radius: 50%;
  display: block;
  float: left;
  margin-left: 15px;
  margin-right: 35px;
}

.border-bottom{
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 20px;
}

#leaveappr .list-group-item.bluebtn::after{
content: "> ";
position: absolute;
right: 8%;
top: 20%;
font-size: 3rem;
color: #fff;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 100;
}

#leaveappr .list-group-item.bluebtn{
  position: relative;
  display: block;
  padding: 18px 0px 50px 24px;
  margin-bottom: 15px;
  margin-top: 0px;
  background-color: #253258;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.28;
}

#leaveappr .empid .text-color{color: #6cbcff;}
