
.notification{
  background: #2f416b url('../assets/images/icons/leave-manager-03.png') no-repeat;
  padding: 2px 7px;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-right: 15px;
  padding-bottom: 10px;
}
