
<header *ngIf="router.url != '/' && router.url != '/splash'">
    <nav class="navbar">
        <div class="container">
            <div *ngIf="router.url != '/leave-manager' && router.url != '/leave-application-approval' && router.url != '/leave-app-approval-category' && router.url != '/leave-app-appr-2' " class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" (click)="openNav()"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!-- <div class="navbar-brand text-uppercase text-center"><a href="/">{{ title }} Employee Self Service</a></div> -->
                <div class="navbar-brand text-uppercase text-center"><a href="/">Employee Self Service</a></div>
            </div>
            <div *ngIf="router.url == '/leave-manager'" class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" (click)="backNav('/dashboard')"><span class="sr-only"> Back</span> <span class="glyphicon glyphicon-chevron-left"></span> Back</button>
                <div class="navbar-brand text-uppercase text-center"><a href="/">Leave Manager</a>
                  <span class="pull-right notification">20</span>
                </div>
            </div>
            <div *ngIf="router.url == '/leave-application-approval' || router.url == '/leave-app-approval-category' || router.url == '/leave-app-appr-2'" class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" (click)="backNav('/leave-manager')"><span class="sr-only"> Back</span> <span class="glyphicon glyphicon-chevron-left"></span> Back</button>
                <div class="navbar-brand text-uppercase text-center"><a href="/">Leave Application Approval</a></div>
            </div>
        </div>
    </nav>
</header>

<!-- <side-nav *ngIf="router.url != '/' && router.url != '/splash'"></side-nav>
<router-outlet></router-outlet> -->
<!-- <footer-nav *ngIf="router.url != '/' && router.url != '/smash'"></footer-nav> -->
<div id="sidenavToggle" class="sidenav" (click)="closeNav()">
<!-- <div id="sidenav-outer" (click)="closeNav()"></div> -->
    <div class="sidenav-head clearfix"><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> <span class="sidenav-title"> </span></div>
    <ul>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/dashboard">Dashboard</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/splash">Splash page</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/leave-manager">Leave Manager</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/apply-leave">Apply Leave</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/leave-detail">Leave Detail</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/">LogOut</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/leave-application-approval">Leave Application Approval</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/leave-app-approval-category">Leave Application Approval Category</a></li>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/leave-app-appr-2">Leave Application Approval 2</a></li>
        <!--<li (click)="closeNav()" class="sidenav-item"><a routerLink="/">LogIn</a></li>-->
    </ul>
</div>
<div id="sidenav-outer" (click)="closeNav()"></div>



<!-- <side-nav *ngIf="router.url != '/' && router.url != '/smash'"></side-nav> -->
<router-outlet></router-outlet>
<!-- <footer-nav *ngIf="router.url != '/' && router.url != '/smash'"></footer-nav> -->

<!-- <footer>
  <div class="container" *ngIf="router.url != '/' || router.url != '/splash'">
    <p class="text-center">&copy; 2017 teamhgs.com. All rights reserved.</p>
  </div>
</footer> -->
<footer class="footer-absolute" *ngIf="router.url == '/leave-application-approval' || router.url == '/leave-manager'">
  <div class="container">
    <p class="text-center">&copy; 2017 teamhgs.com. All rights reserved.</p>
  </div>
</footer>
<footer *ngIf="router.url != '/leave-application-approval' && router.url != '/leave-manager'">
  <div class="container">
    <p class="text-center">&copy; 2017 teamhgs.com. All rights reserved.22</p>
  </div>
</footer>
