
<div class="col-xs-12 padd0 navbar-header">
    <div class="panel calendar-head">
        <div class="panel-heading">
          <div class="col-xs-2"><img src="assets/images/calendar.png" class="" alt=""></div>
          <div class="col-xs-10">20 Jan 2018 to 19 Feb 2018</div>
        </div> 
    </div>
</div>
<div class="clearfix"></div>
<section class="inner-section">
  <div class="container-fluid" id="leaveappr">
    <div class="panel pending-head">
        <div class="col-xs-12"><span class="circle-orange"></span> Pending</div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="col-xs-2 padd0">
          <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-7 padd0">
          <span class="empname">Anurag Sharma</span><br>
          <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
        </div>
      </li>
      <li class="list-group-item">
        <div class="col-xs-2 padd0">
          <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-7 padd0">
          <span class="empname">Anurag Sharma</span><br>
          <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
        </div>
      </li>
    </ul>
    <div class="border-bottom"></div>
    <div class="panel pending-head">
      <div class="col-xs-12 text-red"><span class="circle-red"></span> Reject</div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="col-xs-2 padd0">
          <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-7 padd0">
          <span class="empname">Anurag Sharma</span><br>
          <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
        </div>
      </li>
      <li class="list-group-item">
        <div class="col-xs-2 padd0">
          <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-7 padd0">
          <span class="empname">Anurag Sharma</span><br>
          <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
        </div>
      </li>
      </ul>
      <div class="border-bottom"></div>
      <div class="panel pending-head approved">
        <div class="col-xs-12 text-green"><span class="circle-green"></span> Approved</div> 
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="col-xs-2 padd0">
            <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-7 padd0">
            <span class="empname">Anurag Sharma</span><br>
            <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-xs-2 padd0">
            <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-7 padd0">
            <span class="empname">Anurag Sharma</span><br>
            <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
          </div>
          </li>
        </ul>
  </div>
</section>