<section class="inner-section">
    <div class="container">
        <div class="card-grey text-blue add-bottom form-vertical-list">
            <ul class="list-detail add-bottom">
                <li>
                    <label class="control-label">Leave App ID:</label>
                    <div class="form-control-static">65</div>
                </li>
                <li>
                    <label class="control-label">Applied On:</label>
                    <div class="form-control-static">Nov 15, 2014</div>
                </li>
                <li>
                    <label class="control-label">Employee Code</label>
                    <div class="form-control-static">16652</div>
                </li>
                <li>
                    <label class="control-label">Employee Name</label>
                    <div class="form-control-static">Sameer K</div>
                </li>
                <li>
                    <label class="control-label">From Date</label>
                    <div class="form-control-static">Nov 18, 2014</div>
                </li>
                <li>
                    <label class="control-label">To Date</label>
                    <div class="form-control-static">Nov 19, 2014</div>
                </li>
                <li>
                    <label class="control-label">Duration</label>
                    <div class="form-control-static">1 Day</div>
                </li>
                <li>
                    <label class="control-label">Leave Type</label>
                    <div class="form-control-static">Privilage Leave (PL)</div>
                </li>
                <li>
                    <label class="control-label">Reason</label>
                    <div class="form-control-static">Family Function</div>
                </li>
            </ul>
            <button class="btn btn-default btn-darkblue btn-block text-capitalize btn-trend">View Leave Trend</button>
        </div>

        <div class="text-center">
            <div class="btn-group btn-group-default">
                <button class="btn btn-default btn-purple btn-160 text-uppercase">Reject</button>
                <button class="btn btn-default btn-red btn-160 text-uppercase">Approve</button>
            </div>
        </div>
    </div>
</section>