<!-- <div id="sidenavToggle" class="sidenav">
    <div class="sidenav-head clearfix"><a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a></div>
    <ul>
        <li (click)="closeNav()" class="sidenav-item"><a routerLink="/dashboard">Dashboard</a></li>
        <li (click)="closeNav()" class="sidenav-item calendar"><a routerLink="/training-calendar">Traning Calendar View</a></li>
        <li (click)="closeNav()" class="sidenav-item logout"><a routerLink="/">Logout</a></li>
    </ul>
</div> -->
