<section class="inner-section">
  <div class="container-fluid" id="leaveappr">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="col-xs-2 padd0">
          <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-7 padd0">
          <span class="empname">Anurag Sharma</span><br>
          <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
        </div>
        <div class="col-xs-3 padd0 martp">
          <a href="#"><img src="assets/images/tick.png" class="img-responsive pull-left" alt=""></a>
          <a href="#"><img src="assets/images/wrong.png" class="img-responsive pull-left marleft15" alt=""></a>
        </div>
      </li>
      <li class="list-group-item">
          <div class="col-xs-2 padd0">
            <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-7 padd0">
            <span class="empname">Harshal patil</span><br>
            <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
          </div>
          <div class="col-xs-3 padd0 martp">
            <a href="#"><img src="assets/images/tick.png" class="img-responsive pull-left" alt=""></a>
            <a href="#"><img src="assets/images/wrong.png" class="img-responsive pull-left marleft15" alt=""></a>
          </div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-2 padd0">
              <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-7 padd0">
              <span class="empname">Sagar Kewat</span><br>
              <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
            </div>
            <div class="col-xs-3 padd0 martp">
              <a href="#"><img src="assets/images/tick.png" class="img-responsive pull-left" alt=""></a>
              <a href="#"><img src="assets/images/wrong.png" class="img-responsive pull-left marleft15" alt=""></a>
            </div>
          </li>
          <li class="list-group-item">
              <div class="col-xs-2 padd0">
                <img src="assets/images/emp-pic.png" class="img-responsive" alt="">
              </div>
              <div class="col-xs-7 padd0">
                <span class="empname">Nikhil Anday</span><br>
                <span class="empid">Emp ID: 57377 <span class="divider">l</span> # Leave : 2D </span>
              </div>
              <div class="col-xs-3 padd0 martp">
                <a href="#"><img src="assets/images/tick.png" class="img-responsive pull-left" alt=""></a>
                <a href="#"><img src="assets/images/wrong.png" class="img-responsive pull-left marleft15" alt=""></a>
              </div>
            </li>
      </ul>
  
</div>
</section>
